.newlist{
    text-align: center;
    height: 9em;
    width: 18em;
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
 }

.button{
    background-color: red;
    color: white;
    border-radius: 20px;
    border: 0px;
    font-size: 20px;
    height: 40px;
    width: 100px;
}

.parent{
    
    filter: blur(5px);
}
.child {
    display: block;
    position: absolute;
    top: 280px;
    left: 490px;
    background-color: white;
}
@media  (min-width:300px) and (max-width:475px){
    
    .newlist{
        height: 9em;
        width: 18em;
        color: red;
        background-color: white;
        border: 1px solid red;
        border-radius: 10px;
        box-shadow: 5px 5px 10px gray;
        position: relative;
        right: 500px;
        bottom: 474px;
     }
    
    .button{
        background-color: red;
        color: white;
        border-radius: 20px;
        border: 0px;
        font-size: 20px;
        height: 40px;
        width: 150px;
    }
    
    .parent{
    
     filter: blur(5px);
    }
    .child {
        display: block;
     position: relative;
     right: 500px;
        background-color: white;
    }
    .material-icons{
        position: relative;
        left: -98px;
        top: -86px;
    }
}